<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">Nova Ride</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="home">Zonas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="progreso">Vehículos Disponibles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="rentados">Vehículos en espera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="facturas">Mi Factura</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="vehiculoForm" (ngSubmit)="agregarVehiculo()" >
                        <div class="mb-3">
                            <input type="text" formControlName="dniCliente" class="form-control form-control-lg"
                                placeholder="DNI Cliente" >
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('dniCliente')?.hasError('required') && vehiculoForm.get('dniCliente')?.touched">
                                <span>El DNI del cliente <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="nombre" class="form-control form-control-lg"
                                placeholder="Nombre">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('nombre')?.hasError('required') && vehiculoForm.get('nombre')?.touched">
                                <span>El nombre <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="placa" class="form-control form-control-lg"
                                placeholder="Placa">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('placa')?.hasError('required') && vehiculoForm.get('placa')?.touched">
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="marca" class="form-control form-control-lg"
                                placeholder="Marca">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('marca')?.hasError('required') && vehiculoForm.get('marca')?.touched">
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="modelo" class="form-control form-control-lg"
                                placeholder="Modelo">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('modelo')?.hasError('required') && vehiculoForm.get('modelo')?.touched">
                              
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="anio" class="form-control form-control-lg"
                                placeholder="Año">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('anio')?.hasError('required') && vehiculoForm.get('anio')?.touched">
                               
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="transmision" class="form-control form-control-lg"
                                placeholder="Transmisión">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('transmision')?.hasError('required') && vehiculoForm.get('transmision')?.touched">
                              
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="color" class="form-control form-control-lg"
                                placeholder="Color">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('color')?.hasError('required') && vehiculoForm.get('color')?.touched">
                               
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="tipo" class="form-control form-control-lg"
                                placeholder="Tipo">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('tipo')?.hasError('required') && vehiculoForm.get('tipo')?.touched">
                                
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="zona" class="form-control form-control-lg"
                                placeholder="Zona">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('zona')?.hasError('required') && vehiculoForm.get('zona')?.touched">
                              
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" name="tiempoRenta" formControlName="tiempoRenta" class="form-control form-control-lg"
                                placeholder="Tiempo de Renta en días" [(ngModel)]="tiempoRenta">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('tiempoRenta')?.hasError('required') && vehiculoForm.get('tiempoRenta')?.touched">
                                
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="date" formControlName="fechaInicio" class="form-control form-control-lg"
                                placeholder="Fecha de Inicio">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('fechaInicio')?.hasError('required') && vehiculoForm.get('fechaInicio')?.touched">
                                
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="date" formControlName="fechaFinal" class="form-control form-control-lg"
                                placeholder="Fecha Final">
                            <div class="text-danger"
                                *ngIf="vehiculoForm.get('fechaFinal')?.hasError('required') && vehiculoForm.get('fechaFinal')?.touched">
                             
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="total" class="form-control form-control-lg"
                                placeholder="Total" value="{{rta}}">
                                <div class="text-danger"
                                *ngIf="vehiculoForm.get('total')?.hasError('required') && vehiculoForm.get('total')?.touched">
                             
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/home" class="btn btn-secondary btn-lg float-start">VOLVER</button> &nbsp;&nbsp;&nbsp;
                            <button type="submit" [disabled]="vehiculoForm.invalid" class="btn btn-primary btn-lg float-end" [(ngModel)]="tiempoRenta" (click)="eliminarVehiculo(id)">ACEPTAR</button>
                        </div>
                    </form>
                    
                    <button class="btn btn-primary" (click)="Operacion()"> Calcular Total </button>

                </div>
            </div>
        </div>
    </div>
</div>
